<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Bloccitoff</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><%= link_to "Welcome", root_path %></li>
                  <li><%= link_to "About", about_path %></li>
                  <li><a href="#">Get Started</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>  
</div>