<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Bloccitoff</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><%= link_to "Welcome", root_path %></li>
                  <li><%= link_to "About", about_path %></li>
                  <li><a href="#">Get Started</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">A To-Do App for Serious Do'ers.</h1>
            <p class="cover-lead">Bloccit is a To-Do App to end all to-dos! Simple and beautiful lists, with a twist. Don't complete your to-do in seven days - and it blows up!</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Sign up</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Bloccitoff with <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/iamporterhaus">@iamporterhaus</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>