<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">A To-Do App for Serious Do'ers.</h1>
        <p class="cover-lead">Bloccit is a To-Do App to end all to-dos! Simple and beautiful lists, with a twist. Don't complete your to-do in seven days - and it blows up!</p>
        <p class="lead">
          <%= link_to "Sign Up", new_user_registration_path, class:'btn btn-lg btn-default' %>
        </p>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Bloccitoff with <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/iamporterhaus">@iamporterhaus</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>