  <p><h3><%= item.name %></h3> <%= item.days_left %> days left to complete.</p>
    <%= link_to "Delete Item", [@list, item], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this todo?' } %>