<%= content_tag :div, id: "item-#{item.id}" do %>
<h3><%= item.name %></h3> <%= item.days_left %> days left to complete. <%= link_to "Complete", [@list, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true%></p>
<% end %>
